body {
  background-color: lightblue;
  text-align: center;
  margin: 5% 25%;
}

h1 {
  color: red;
  font-family: Helvetica, sans-serif;
  font-size: 400%;
}

p {
  font-family: serif;
}

ul {
  font-family: serif;
  text-align: left;
  margin-top: 5%;
}